<a href="https://colab.research.google.com/github/Nagasrineelamshetty/AIML-self-paced-learning-/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
s= pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
print(s.dtype)

int64

In [5]:
print(s.values)

[10 20 30 40 50]

In [6]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [13]:
s.name= "calories"
print(s.name)

calories

In [9]:
#Indexing
print(s[0])

10

In [10]:
print(s[0:2])

0    10
1    20
dtype: int64

In [11]:
#iloc
print(s.iloc[3])
print(s.iloc[[1,3,4]])

40
1    20
3    40
4    50
dtype: int64

In [12]:
index= ["apple","banana","grapes","orange","strawberry"]

In [13]:
s.index= index
print(s)

apple         10
banana        20
grapes        30
orange        40
strawberry    50
dtype: int64

In [14]:
print(s['grapes'])
#print(s.iloc['grapes']) doesn't print the value because grapes is not a location anymore
#iloc used only for numerical indexes

30

In [15]:
#loc- label based inexing, both start and stop are included
print(s.loc['grapes'])

30

In [16]:
print(s['banana':'orange'])#first and last both included

banana    20
grapes    30
orange    40
dtype: int64

In [17]:
print(s.loc[['grapes','orange']])

grapes    30
orange    40
dtype: int64

In [18]:
#Series using dictionaries
fruit_protein= {
    "Avocado": 2.0,
    "Guava": 2.6,
    "BlackBerries": 2.0,
    "Oranes": 0.9,
    "Banana": 0.3,
    "Apples": 0.3,

}

In [19]:
s2= pd.Series(fruit_protein, name="protein")
print(s2)

Avocado         2.0
Guava           2.6
BlackBerries    2.0
Oranes          0.9
Banana          0.3
Apples          0.3
Name: protein, dtype: float64

In [20]:
s2>1

Avocado          True
Guava            True
BlackBerries     True
Oranes          False
Banana          False
Apples          False
Name: protein, dtype: bool

In [21]:
#Conditional Selection
print(s2[s2>1])

Avocado         2.0
Guava           2.6
BlackBerries    2.0
Name: protein, dtype: float64

In [25]:
#Logical Operators
print(s2[(s2>0.5) & (s2<=2)])

Avocado         2.0
BlackBerries    2.0
Oranes          0.9
Name: protein, dtype: float64

In [27]:
s2[~(s2>1)]

Oranes    0.9
Banana    0.3
Apples    0.3
Name: protein, dtype: float64

In [28]:
#Modifying the series
s2['banana']=27
print(s2)

Avocado          2.0
Guava            2.6
BlackBerries     2.0
Oranes           0.9
Banana           0.3
Apples           0.3
banana          27.0
Name: protein, dtype: float64

###Data Frames

In [33]:
import numpy as np

In [57]:
data= {
    "Name":["Nagasri","Charan","Malathi","Srinivas"],
    "Age": [19,15,53,54],
    "Department": ["Education","Business","Teaching","Business"],
    "Salary": [500000,60000,np.nan,90000]
}

In [58]:
data= pd.DataFrame(data)
print(data)

       Name  Age Department    Salary
0   Nagasri   19  Education  500000.0
1    Charan   15   Business   60000.0
2   Malathi   53   Teaching       NaN
3  Srinivas   54   Business   90000.0

In [59]:
data.head()

       Name  Age Department    Salary
0   Nagasri   19  Education  500000.0
1    Charan   15   Business   60000.0
2   Malathi   53   Teaching       NaN
3  Srinivas   54   Business   90000.0

In [38]:
data.tail()

       Name  Age Department    Salary
0   Nagasri   19  Education  500000.0
1    Charan   15   Business   60000.0
2   Malathi   53   Teaching       NaN
3  Srinivas   54   Business   90000.0

In [39]:
#loc and iloc
print(data.iloc[1:3])

      Name  Age Department   Salary
1   Charan   15   Business  60000.0
2  Malathi   53   Teaching      NaN

In [45]:
print(data.loc[1:2,["Age","Department"]])
print(data.iloc[1:3, 1:3])#row,cloumn

   Age Department
1   15   Business
2   53   Teaching
   Age Department
1   15   Business
2   53   Teaching

In [49]:
data[["Age","Department"]]

   Age Department
0   19  Education
1   15   Business
2   53   Teaching
3   54   Business

In [60]:
data.drop("Age",axis=1)#inplace= true deletes from the dataframe itself

       Name Department    Salary
0   Nagasri  Education  500000.0
1    Charan   Business   60000.0
2   Malathi   Teaching       NaN
3  Srinivas   Business   90000.0

In [61]:
print(data)

       Name  Age Department    Salary
0   Nagasri   19  Education  500000.0
1    Charan   15   Business   60000.0
2   Malathi   53   Teaching       NaN
3  Srinivas   54   Business   90000.0

In [62]:
data.shape

(4, 4)

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   Department  4 non-null      object
 3   Salary      3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 260.0+ bytes

In [65]:
data.describe()

             Age         Salary
count   4.000000       3.000000
mean   35.250000  216666.666667
std    21.140404  245831.920900
min    15.000000   60000.000000
25%    18.000000   75000.000000
50%    36.000000   90000.000000
75%    53.250000  295000.000000
max    54.000000  500000.000000

In [66]:
#Broadcasting
data["Salary"]= data["Salary"]+ 5000#Broadcasted to match the shape and size of a particular column

In [67]:
data["Salary"]

0    505000.0
1     65000.0
2         NaN
3     95000.0
Name: Salary, dtype: float64

In [70]:
#Rename columns
data.rename(columns={"Department":"Dept"},inplace= True)
print(data)

       Name  Age       Dept    Salary
0   Nagasri   19  Education  505000.0
1    Charan   15   Business   65000.0
2   Malathi   53   Teaching       NaN
3  Srinivas   54   Business   95000.0

In [71]:
data["Salary"].unique()

array([505000.,  65000.,     nan,  95000.])

In [72]:
data["Dept"].unique()

array(['Education', 'Business', 'Teaching'], dtype=object)

In [74]:
data["Dept"].value_counts()

Dept
Business     2
Education    1
Teaching     1
Name: count, dtype: int64

In [75]:
data["Promoted Salary"]= data["Salary"]*10
print(data)

       Name  Age       Dept    Salary  Promoted Salary
0   Nagasri   19  Education  505000.0        5050000.0
1    Charan   15   Business   65000.0         650000.0
2   Malathi   53   Teaching       NaN              NaN
3  Srinivas   54   Business   95000.0         950000.0

In [76]:
#Data Cleaning
data.isnull().sum()

Name               0
Age                0
Dept               0
Salary             1
Promoted Salary    1
dtype: int64

In [77]:
data.dropna(how="any")# any row that had any null value

       Name  Age       Dept    Salary  Promoted Salary
0   Nagasri   19  Education  505000.0        5050000.0
1    Charan   15   Business   65000.0         650000.0
3  Srinivas   54   Business   95000.0         950000.0

In [78]:
data.dropna(how="all")# all rows that have null values which we don't have

       Name  Age       Dept    Salary  Promoted Salary
0   Nagasri   19  Education  505000.0        5050000.0
1    Charan   15   Business   65000.0         650000.0
2   Malathi   53   Teaching       NaN              NaN
3  Srinivas   54   Business   95000.0         950000.0

In [81]:
#Other way is to fill the values
data["Age"].fillna(data["Age"].mean())

0    19
1    15
2    53
3    54
Name: Age, dtype: int64

In [83]:
data["Salary"].fillna(data["Salary"].median())

0    505000.0
1     65000.0
2     95000.0
3     95000.0
Name: Salary, dtype: float64

In [84]:
#forward fill and backward fill
data["Age"].fillna(method='ffill')

<ipython-input-84-1524207815>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["Age"].fillna(method='ffill')

0    19
1    15
2    53
3    54
Name: Age, dtype: int64

In [85]:
data["Age"].fillna(method='bfill')

<ipython-input-85-3924503471>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["Age"].fillna(method='bfill')

0    19
1    15
2    53
3    54
Name: Age, dtype: int64

In [105]:
data["Name"].replace("Nagasri","Nagasri_Neelamshetty",inplace=True)
data["Name"].replace("Malathi","Malathi_Neelamshetty")
data["Name"].replace("Charan","Charan_Neelamshetty")

0    Nagasri_Neelamshetty
1     Charan_Neelamshetty
2                 Malathi
3                Srinivas
Name: Name, dtype: object

In [104]:
print(data)

       Name  Age       Dept    Salary  Promoted Salary
0   Nagasri   19  Education  505000.0         505000.0
1    Charan   15   Business   65000.0         650000.0
2   Malathi   53   Teaching       NaN              NaN
3  Srinivas   54   Business   95000.0          95000.0

In [90]:
#Dealing with duplicate values
data_dup= data[data.duplicated(keep="first")]#keep= first first element is kept if keep= last last element is kept
print(data_dup)

Empty DataFrame
Columns: [Name, Age, Dept, Salary, Promoted Salary]
Index: []

In [93]:
#Invalid Values:
#Lambda
data["Promoted Salary"]= data["Promoted Salary"].apply(lambda x: x/10 if x> 650000 else x)

In [106]:
#name= "alice_fernandes"
data[["first_name","last_name"]]= data["Name"].str.split("_",expand= True,n=1)#splits data based on '_'
print(data)

                   Name  Age       Dept    Salary  Promoted Salary first_name  \
0  Nagasri_Neelamshetty   19  Education  505000.0         505000.0    Nagasri
1                Charan   15   Business   65000.0         650000.0     Charan
2               Malathi   53   Teaching       NaN              NaN    Malathi
3              Srinivas   54   Business   95000.0          95000.0   Srinivas

      last_name
0  Neelamshetty
1          None
2          None
3          None

In [107]:
#apply and lambda
def multiplying_age(x):
  return x*2
data["Age"]= data["Age"].apply(multiplying_age)
print(data)

                   Name  Age       Dept    Salary  Promoted Salary first_name  \
0  Nagasri_Neelamshetty   38  Education  505000.0         505000.0    Nagasri
1                Charan   30   Business   65000.0         650000.0     Charan
2               Malathi  106   Teaching       NaN              NaN    Malathi
3              Srinivas  108   Business   95000.0          95000.0   Srinivas

      last_name
0  Neelamshetty
1          None
2          None
3          None

In [110]:
data["Age"]= data["Age"].apply(lambda x: x/2)
print(data)

                   Name   Age       Dept    Salary  Promoted Salary  \
0  Nagasri_Neelamshetty   9.5  Education  505000.0         505000.0
1                Charan   7.5   Business   65000.0         650000.0
2               Malathi  26.5   Teaching       NaN              NaN
3              Srinivas  27.0   Business   95000.0          95000.0

  first_name     last_name
0    Nagasri  Neelamshetty
1     Charan          None
2    Malathi          None
3   Srinivas          None

In [111]:
data["Age"]= data["Age"].apply(lambda x: x*2)
print(data)

                   Name   Age       Dept    Salary  Promoted Salary  \
0  Nagasri_Neelamshetty  19.0  Education  505000.0         505000.0
1                Charan  15.0   Business   65000.0         650000.0
2               Malathi  53.0   Teaching       NaN              NaN
3              Srinivas  54.0   Business   95000.0          95000.0

  first_name     last_name
0    Nagasri  Neelamshetty
1     Charan          None
2    Malathi          None
3   Srinivas          None

In [122]:
#Joins and Merges
#left,right, outer and inner
#merge- common one once and all other properties
department_info= {
    "Dept": ["HR","IT","Finance"],
    "Location": ["NewYork","SanFrancisco","Chicago"],
    "Manager": ["Laura","Steve","Nina"]
}
df2= pd.DataFrame(department_info)
print(df2)

      Dept      Location Manager
0       HR       NewYork   Laura
1       IT  SanFrancisco   Steve
2  Finance       Chicago    Nina

In [116]:
pd.concat([data,df2])#Stacked Horizontally

,Name,Age,Dept,Salary,Promoted Salary,first_name,last_name,Location,Manager
0,Nagasri_Neelamshetty,19.0,Education,505000.0,505000.0,Nagasri,Neelamshetty,NaN,NaN
1,Charan,15.0,Business,65000.0,650000.0,Charan,None,NaN,NaN
2,Malathi,53.0,Teaching,NaN,NaN,Malathi,None,NaN,NaN
3,Srinivas,54.0,Business,95000.0,95000.0,Srinivas,None,NaN,NaN
0,NaN,NaN,HR,NaN,NaN,NaN,NaN,NewYork,Laura
1,NaN,NaN,IT,NaN,NaN,NaN,NaN,SanFrancisco,Steve
2,NaN,NaN,Finance,NaN,NaN,NaN,NaN,Chicago,Nina

In [117]:
pd.concat([data,df2], axis=1) #Stacked Vertically

,Name,Age,Dept,Salary,Promoted Salary,first_name,last_name,Dept,Location,Manager
0,Nagasri_Neelamshetty,19.0,Education,505000.0,505000.0,Nagasri,Neelamshetty,HR,NewYork,Laura
1,Charan,15.0,Business,65000.0,650000.0,Charan,None,IT,SanFrancisco,Steve
2,Malathi,53.0,Teaching,NaN,NaN,Malathi,None,Finance,Chicago,Nina
3,Srinivas,54.0,Business,95000.0,95000.0,Srinivas,None,NaN,NaN,NaN

In [124]:
pd.merge(data, df2, on="Dept")

Empty DataFrame
Columns: [Name, Age, Dept, Salary, Promoted Salary, first_name, last_name, Location, Manager]
Index: []

###Importing File

In [127]:
data1 = pd.read_csv("datanumpy.txt")#Pass the path or upload

In [128]:
data1.shape

(2, 6)

In [129]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       2 non-null      int64
 1   99      2 non-null      int64
 2   3       2 non-null      int64
 3   4       2 non-null      int64
 4   5       2 non-null      int64
 5   6       2 non-null      int64
dtypes: int64(6)
memory usage: 228.0 bytes

In [130]:
#To convert object to date time
#data1['date']= pd.to_datetime(data1['data'])